#--app-dashboard-container{
  min-height:100vh;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 20px #aaaaaa;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

div#--app-top-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

div.--app-right-container{
  margin-right:8px;
}

#--app-middle-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

#--app-bottom-container{
  display:flex;
  flex-direction:column;
  margin:10px 10px;
}

#--app-unsplash-attribution{
  align-self:flex-end;
  order: 5;
}

@media screen and (min-width:768px) {
  #--app-top-container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
  }
  
  
  
  #--app-bottom-container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
  }
  #--app-unsplash-attribution{
    order:0;
  }
}